.home{
    font-family: 'Nunito';
    padding-top: 56px;
    background-color: #e0e0e0d9;
}
.card-img-top{
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    height: 200px;
    -o-object-fit: unset;
       object-fit: unset;
    display: flex;
    justify-content: center;
    margin: auto;
}

.image-highlight {
    width: 70%;
    height: 200px;
    margin: auto;
    display: flex;
    -o-object-fit: scale-down;
       object-fit: scale-down;
}

.navbar-collapse li{
    text-align: center;
}

@media screen and (max-width: 800px) {
    .card-body .btn-primary {
        color: #ffffff;
        padding: .25rem .5rem;
        font-size: .875rem;
        line-height: 1.5;
        border-radius: .2rem;
    }
}

.fa {
    padding: 15px;
    font-size: 19px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
    color: #1b1e21;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}
