@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import "datatables.net-bs4/css/dataTables.bootstrap4.min.css";

.datables .relative .flex{
    display: flex;
    flex-wrap: wrap;
}

.datables .relative .flex .space-x-1{
    padding-top: 10px;
    padding-bottom: 10px;
}

@media (max-width: 500px) {
    .flex-grow .form-input {
        width: 91%;
    }

    .flex-grow .absolute {
        right: 26px!important;
    }
}

